# Python
__pycache__/
*.py[cod]
*.db
*.db-shm
*.db-wal
venv/
.venv/
.env
*.log

# Node
node_modules/
.pnp/
.pnp.js
.tsbuildinfo
next-env.d.ts

# Uploads
uploads/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Next.js
.next/
out/

# Build
dist/
build/

# Misc
*.bak
*.tmpbackups/
